.btn-outline-success {
    color: #848c2f;
    border-color: #848c2f;
    margin-left: 100px;
    height: 50px;
    padding-top: 10px;
  }
  
  .btn-outline-success:hover {
    color: #fff;
    background-color:#848c2f;
    border-color: #848c2f
  }
  .btn-outline-danger {
      background-color: brown;
      color: #fff;
  }
  .nav-link {
      color:gray;
  }
  .home {
      color: black;
      border-bottom: 3px dashed brown;
  }
  .nav-link:hover{
      color: black;
  } 
.art{
    width: 130px;
    margin-right: 200px;
}
.icons-sec {
    margin-left: 60px;
}
.icons {
    display: inline-block;
    background-color: #fcc044;
    width: 25px;
    height: 25px;
    border-radius: 40px;
    text-align: center;
    margin-right: 10px;
}
.icons:hover {
    color: black;
    opacity: .7;
}
.icon-link {
    color: white;
    margin: 5px;
    text-decoration: aqua;
}
h1 {
    color: #422c18;
    text-align: center;
    margin: 50px;
}
.card2 .span {
    color: #545b13;
    font-size: 20px;
    font-weight: 20;
    font-family: monospace;
}
.card1 .span {
    color: darkgoldenrod;
    font-size: 20px;
    font-weight: 20;
    font-family: monospace;
}
.card3 .span {
    color:#a8392f;
    font-size: 20px;
    font-weight: 20;
    font-family: monospace;
}
.camps {
       margin-left: 50px;
}
.contain1 {
    margin-bottom: 200px;
}
.contain1 h3{
    line-height: 60px;
    font-weight: 1000;
    font-size: 50px;
    color: #ffff;
    text-decoration: none;
    white-space: nowrap;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: perspective(600px);

}
.contain1 p {
    color: darkgoldenrod;
    font-size: 800;
    font-weight: bolder;
}

.btn-outline-danger {
   margin-left: 400px;
 }
 footer {
    background-color: #422c18;
    padding: 100px;
}
 footer .About span{
     color: white;
     font-weight: bold;
     display: block;
 }
 footer .About p {
     color: gray;
 }
 .About a {
     text-decoration: none;
     color: #fcc044;
 }
 .icons-sec1 {
     text-align: center;
     padding-right: 60px;
     padding-top: 50px;
 }
 hr {
    color: grey;
    width: 15%;
}
